.nav-subscribe-anchor{
    text-decoration: underline;
    color:#6c757d;
}

.nav-anchor{
    text-decoration: underline;
    font-size: 30px;
    color:black;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-weight: 900;
}
.nav-anchor:hover{
    text-decoration: none;
    color:black;
}
.fa-search{
    margin-top: 10px;
    font-size: 26px;
    color: #6c757d;
    margin-right: 12px;
}
.nav-item{
    padding-left:20px;
}
.nav-item a{
    text-decoration: underline;
    font-size: 16px;
}
#container-bg-dark{
    background-color:#212529;
    height: 400px;
    
    padding-left: 20px;
    justify-content: center;
}
#container-bg-dark h1,p,a{
    color:white;
  
}
#container-bg-dark h1{
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    
}
#container-bg-dark p{
    font-size: 20px;;
}
#container-bg-dark a{
    font-size:22px;
}
.blog-info{
    
}
.blog-info a{
  color:blue;
}
.blog-info p{
    color: black;
    
}
.blog-info h4{
    font-weight: bold;
    padding-top:8px;
}
.blog-info img{
    width:250px;
    height:250px;
    
}
#left-side{
    padding-right: 5px;
}




